:root {
  --text: 323C56;
  --accent: AA4846;
  --textAccent: CC8D49;
  --background: A0877D;
  --white: EDEEE2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: var(--text);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  color: var(--text);
}

p {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  color: #b3b3b3; /* Netflix's gray for text */
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 80%;
  height: 100%;
  margin: 10px auto;
  gap: 15px;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  border-radius: 20px;
  padding: 8px;
}

.card img {
  width: 70%;
  border-radius: 20px;
}

.card img:hover {
  filter: blur(8px);
}

.card p {
  color: var(--white);
  text-align: center;
  padding: 2px 5px;
}
